@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.heading {
  text-align: center;
  margin-top: 2rem;
}
.countrynames {
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  line-height: 0.8;
  margin-left: 1rem;
  display: flex;
  line-height: 0.5;
  flex-direction: row;
}
.countries {
  margin-left: 3rem;
}
